.container{
    background-color: black;
    padding: 30px 30px;
    display: flex;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0px 23px;
}
input{
    position: absolute;
    right: 23px;
    top: 48px;
    width: 123px;
    border-radius: 6px;
}